/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W           &kp F               &kp P           &kp B        &kp J                &kp L            &kp U    &kp Y  &kp BACKSPACE
&kp A  &kp R  &mt LEFT_ALT S  &mt LEFT_COMMAND T           &kp G        &kp M  &mt RIGHT_COMMAND N  &mt RIGHT_ALT E    &kp I          &kp O
&kp Z  &kp X           &kp C               &kp D           &kp V        &kp K                &kp H        &kp COMMA  &kp DOT      &kp SLASH
                                       &kp SPACE  &kp LEFT_SHIFT    &kp LCTRL                &to 1
            >;
        };

        layer_1 {
            bindings = <
  &kp ESC     &kp AT  &kp HASH  &kp DOLLAR        &kp PERCENT           &kp CARET         &kp AMPERSAND           &kp ASTERISK           &kp SEMI  &kp BACKSPACE
  &kp TAB  &kp EQUAL     &none   &kp COLON   &kp SINGLE_QUOTE       &kp BACKSLASH        &kp LEFT_BRACE        &kp RIGHT_BRACE           &kp PIPE      &kp ENTER
&kp TILDE      &none     &none       &none  &kp DOUBLE_QUOTES    &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET          &to 3
                                     &to 0     &kp LEFT_SHIFT       &kp RIGHT_ALT                 &to 2
            >;
        };

        layer_2 {
            bindings = <
    &kp ESC         &none  &none  &none         &kp UNDER        &kp MINUS  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp BACKSPACE
    &kp TAB     &kp SLASH  &none  &none          &kp PLUS        &kp EQUAL  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6      &kp ENTER
&kp C_RESET  &kp ASTERISK  &none  &none           &kp DOT     &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3          &to 3
                                  &to 0  &kp LEFT_COMMAND    &kp RIGHT_ALT         &to 1
            >;
        };

        layer_3 {
            bindings = <
  &kp ESC  &none  &none  &none             &none            &none     &none   &none      &none  &kp BACKSPACE
  &kp TAB  &none  &none  &none           &kp DEL         &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT      &kp ENTER
&kp GRAVE  &none  &none  &none    &kp LEFT_SHIFT            &none     &none   &none      &none          &none
                         &to 0  &kp LEFT_COMMAND    &kp RIGHT_ALT     &to 1
            >;
        };
    };
};
